@model Tp_Negocio.Models.Chimi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Chimi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredientes" class="control-label"></label>
                <textarea asp-for="Ingredientes" class="form-control" rows="5" placeholder="Escribe cada ingrediente en una nueva línea"></textarea>
                <span asp-validation-for="Ingredientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreFoto" class="control-label"></label>
                <input asp-for="NombreFoto" type="file" id="seleccionImg" class="form-control" />
            </div>
            <div class="form-group">
                <img src="~/imagenes/Chimis/@Model.NombreFoto" width="60"
                     id="imagen" class="rounded-circle" asp-append-version="true" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
