
        <div class="card-body">
            <h4 class="card-title text-center text-uppercase font-weight-bold mb-4">Importar Archivo Excel para Sal</h4>

            <form asp-action="SubirExcel" method="post" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="excel" class="form-label">Seleccione un archivo Excel</label>
                    <input type="file" name="excel" id="excel" class="form-control" accept=".xlsx, .xls" />
                </div>

                <div class="text-center">
                    <input type="submit" value="Importar archivo Excel" class="btn btn-primary" />
                </div>
            </form>
        </div>
