<form asp-action="SubirExcel" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="excel">Archivo excel</label>
        <input type="file" name="excel" class="form-control" />
        <input type="submit" value="Importar archivo Excel" class="btn btn-primary" />
    </div>
</form>